/*
wood brown: A89F68;
army green: 41521F;
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Sedgwick+Ave+Display');
*{
/*	outline: 1px solid red;
*/}
body{
	font-family: 'Montserrat', sans-serif;
	outline: 1px solid red;
	padding: 0;
	margin: 0;

}
#koala-1{
	background: url(../img/koala-1.jpg) no-repeat;
	background-size: 100%;
	height: 700px;
	color: white;
}

header nav{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 70px;
	background-color: #41521F;
    opacity: 0.5;
    filter: Alpha(opacity=50);
}

header nav ul{
	line-height: 70px;
	text-align: right;
	padding-right: 80px;
}

nav ul a{
	text-transform: uppercase;
	color: white;
}
header .action{


}
header .action h1{
	text-transform: uppercase;
	font-weight: bold;
}
header .action p{
	text-transform: lowercase;
}
.action .btn{
	margin-top: 15px;
	text-transform: uppercase;
	background-color: #41521F;
	border: none;
}
/*==================================
=            SECTION II            =
==================================*/
img{
	display: block;
	width: 90%;
}


/*=====  End of SECTION II  ======*/
/*===================================
=            SECTION III            =
===================================*/
.section-3{
	background-color: #C6B660;
}


/*=====  End of SECTION III  ======*/



/*==================================
=            SECTION IV            =
==================================*/
.section-4{
	background: url(../img/all.jpg) no-repeat;
	background-size: 100%;
	height: 700px;
	color: white;
}


/*=====  End of SECTION IV  ======*/



/*=================================
=            SECTION V            =
=================================*/
.section-5{
	padding: 10px;
	margin: 40px;
	height: 300px;
}
.glyphicon{
	font-size: 60px;
	color: #D0D99E;
	margin: 20px;
}


/*=====  End of SECTION V  ======*/



/*=================================
=            SECTION VI          =
=================================*/
.section-6{
	background-color: #DAD08F;
	height: 300px;
}


/*=====  End of SECTION V  ======*/




/*==============================
=            footer            =
==============================*/
footer{
	background-color: #41521F;
	color: white;
}
.pie-pagina{
	background-color: #41521F;
}

/*=====  End of footer  ======*/